# Direktori dan file Python yang tidak perlu di-track
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment & Virtual Environment
env/
venv/
.venv/
Pipfile
Pipfile.lock
poetry.lock

# File konfigurasi Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# File CSV & Data hasil pemrosesan (jika ingin di-ignore)
*.csv
*.xlsx
*.json
*.parquet

# File log
logs/
*.log

# Cache & metadata Streamlit
.streamlit/
.db/

# File sementara
*.tmp
*.bak
.DS_Store
Thumbs.db

# Konfigurasi sistem
.vscode/
.idea/
*.swp
